/* General Styles */
.category-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Heading */
.category-heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
}

/* Category Grid */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-bottom: 40px;
}

/* Category Card */
.category-card-c {
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

.category-card-c:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.category-card-c.active {
    background-color: rgb(148, 0, 0); /* Updated background color */
    color: #fff; /* Text color */
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}


/* Icon */
.category-icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: inherit;
}

/* Name */
.category-name-c-c-c {
    font-size: 1.2rem;
    font-weight: 600;
    color: inherit;
}

/* Category Content */
.category-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.container{
    margin-top: 130px !important;
}
.notification {
    position: fixed;
    top: 100px !important;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 999;
    opacity: 0.9;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


